aiofiles
aiohttp
asyncio
beautifulsoup4
blackpink
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pykeyboard
pyrogram==2.0.106
python-dotenv
PyYAML==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
yt-dlp
youtube-search
youtube-search-python
yt-dlp
gtts
httpx
httpx[http2]
gpytranslate
